{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="noticedetailsection">
    <div class="container">
      <div class="w-layout-grid project-overview-grid">
        <div id="w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-7574c760" class="noticedetailtitle">
          <div class="paragraph-title">공지사항<br></div>
          <div class="title_horizen"></div>
        </div>
        <div id="w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-7574c760" class="noticedetailcontents">
          <h1 class="noticedetailhead">7월 공지 사항</h1>
          <div class="paragraph-light noticedetailtext">7월 휴가 일정은 아래와 같습니다<br>sadasd<br>asdasd<br>asdasd<br>asdasd<br>asdasd<br>asdasd</div>
        </div>
      </div>
    </div>
  </div>
  <section class="notice-details-nav">
    <div class="w-layout-blockcontainer container-2 w-container">
      <a href="#" class="up-post w-inline-block">
        <div class="text-block-11">⬆ next blog post link</div>
      </a>
      <a href="#" class="down-post w-inline-block">
        <div class="text-block-11">⬇️ next blog post link</div>
      </a>
      <a href="../column.html" class="column-main-btn w-button">목록</a>
    </div>
  </section>
{% endblock %}
