{% extends 'main/base.html' %}
{% block content %}
    <div class="section">
    <div class="container">
      <div class="intro-wrap">
        <h1 class="heading-jumbo">Logo Design Site<br>Welcome </h1>
      </div>
    </div>
  </div>
  <div class="section">
    <div id="works-grid" class="w-layout-grid works-grid">
      <div id="w-node-_131b61c8-9464-5b01-5869-1ccd9797555c-c194b926">
        <a href="columns/project-4.html" class="work-image cc-work-1 w-inline-block"></a>
        <div class="work-description">
          <a href="columns/project-4.html" class="project-name-link">Logo1</a>
          <div class="paragraph-light">Graphic Design</div>
        </div>
      </div>
      <div id="w-node-dff26f68-5731-3efa-d3dd-8f65c72d8fad-c194b926">
        <a href="columns/project-2.html" class="work-image cc-work-2 w-inline-block"></a>
        <div class="work-description">
          <a href="columns/project-2.html" class="project-name-link">Logo2</a>
          <div class="paragraph-light">Sol</div>
        </div>
      </div>
      <div id="w-node-dff26f68-5731-3efa-d3dd-8f65c72d8fb4-c194b926">
        <a href="columns/project-3.html" class="work-image cc-work-3 w-inline-block"></a>
        <div class="work-description">
          <a href="columns/project-3.html" class="project-name-link">Logo3</a>
          <div class="paragraph-light">Web Design</div>
        </div>
      </div>
      <div id="w-node-dff26f68-5731-3efa-d3dd-8f65c72d8fbb-c194b926">
        <a href="columns/project-4.html" class="work-image cc-work-4 w-inline-block"></a>
        <div class="work-description">
          <a href="columns/project-4.html" class="project-name-link">Logo4</a>
          <div class="paragraph-light">Graphic Design</div>
        </div>
      </div>
      <div id="w-node-ce744d4f-2e78-1803-7a0e-04fbca3e4480-c194b926">
        <a href="columns/project-4.html" class="work-image cc-work-5 w-inline-block"></a>
        <div class="work-description">
          <a href="columns/project-4.html" class="project-name-link">Logo5</a>
          <div class="paragraph-light">Graphic Design</div>
        </div>
      </div>
      <div id="w-node-_3c52eb0f-4216-cde3-a8d6-f81469598892-c194b926">
        <a href="columns/project-4.html" class="work-image cc-work-6 w-inline-block"></a>
        <div class="work-description">
          <a href="columns/project-4.html" class="project-name-link">Logo6</a>
          <div class="paragraph-light">Graphic Design</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="carrer-headline-wrap">
        <h2 class="heading">My experience</h2>
        <p class="paragraph-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
      </div>
    </div>
  </div>
  <div class="paragraph-tiny cc-paragraph-tiny-light"><br></div>
{% endblock %}
