{% extends 'main/base.html' %}
{% load static %}
{% block content %}
      <section class="section-3">
    <div class="w-layout-blockcontainer w-container">
      <h1 class="noticehead"><strong>공지사항</strong></h1>
      <div class="noticeborad">
        <ul role="list" class="noticelist w-list-unstyled">
          <li class="noticerowhead">
            <div id="w-node-_3832f162-41a5-b114-e221-2cf47c687180-4c93fc2f" class="noticeid"><strong>No</strong></div>
            <div id="w-node-_1fa51c73-ac94-051a-b7b6-537604845503-4c93fc2f" class="noticetitle"><strong>Title</strong></div>
            <div id="w-node-a3454e7f-5a7a-a0bd-7dcc-1cbf9edacda5-4c93fc2f" class="noticecreate">created at</div>
            <div id="w-node-f8aaacbc-130f-20ce-b6e3-4b2baa57a549-4c93fc2f" class="div-block-22"></div>
          </li>
          <li class="noticerow1">
            <div id="w-node-da08c925-3537-5d15-d4b4-d748f4b4d978-4c93fc2f" class="noticeid">5</div>
            <div id="w-node-da08c925-3537-5d15-d4b4-d748f4b4d97a-4c93fc2f" class="noticetitle">
              <a href="notice_detail.html" class="link-3"><strong>2024년 7월 휴무 안내</strong></a>
            </div>
            <div id="w-node-da08c925-3537-5d15-d4b4-d748f4b4d97c-4c93fc2f" class="noticecreate">2024-06-20</div>
            <div id="w-node-da08c925-3537-5d15-d4b4-d748f4b4d97e-4c93fc2f" class="div-block-22"></div>
          </li>
          <li class="noticerow2">
            <div id="w-node-_49f09cd7-5632-30a5-dea2-640e8bd65839-4c93fc2f" class="noticeid">4</div>
            <div id="w-node-_49f09cd7-5632-30a5-dea2-640e8bd6583b-4c93fc2f" class="noticetitle">
              <a href="https://www.undesigning.co.kr/notice/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=24605885&amp;t=board" class="link-3"><strong>2024년 6월 휴무 안내</strong></a>
            </div>
            <div id="w-node-_49f09cd7-5632-30a5-dea2-640e8bd6583f-4c93fc2f" class="noticecreate">2024-05-28</div>
            <div id="w-node-_49f09cd7-5632-30a5-dea2-640e8bd65841-4c93fc2f" class="div-block-22"></div>
          </li>
          <li class="noticerow3">
            <div id="w-node-_4d5162b2-891b-29c7-a141-0d6d75f5f2c5-4c93fc2f" class="noticeid">3</div>
            <div id="w-node-_4d5162b2-891b-29c7-a141-0d6d75f5f2c7-4c93fc2f" class="noticetitle">
              <a href="https://www.undesigning.co.kr/notice/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=20276147&amp;t=board" class="link-4"><strong class="bold-text-2">2024년 5월 휴무 안내</strong></a>
            </div>
            <div id="w-node-_4d5162b2-891b-29c7-a141-0d6d75f5f2c9-4c93fc2f" class="noticecreate">2024-04-28</div>
            <div id="w-node-_4d5162b2-891b-29c7-a141-0d6d75f5f2cb-4c93fc2f" class="div-block-22"></div>
          </li>
          <li class="noticerow4">
            <div id="w-node-_469c3f05-b573-d0d6-2521-42fd652fdb97-4c93fc2f" class="noticeid">2</div>
            <div id="w-node-_469c3f05-b573-d0d6-2521-42fd652fdb99-4c93fc2f" class="noticetitle">
              <a href="https://www.undesigning.co.kr/notice/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=18102440&amp;t=board" class="link-5"><strong class="bold-text-3">2024년 2월~3월 휴무 일정 안내</strong></a>
            </div>
            <div id="w-node-_469c3f05-b573-d0d6-2521-42fd652fdb9b-4c93fc2f" class="noticecreate">2024-03-25</div>
            <div id="w-node-_469c3f05-b573-d0d6-2521-42fd652fdb9d-4c93fc2f" class="div-block-22"></div>
          </li>
          <li class="noticerow5">
            <div id="w-node-_1635c5d5-522c-3e8e-d15f-59feb6a55a97-4c93fc2f" class="noticeid">1</div>
            <div id="w-node-_1635c5d5-522c-3e8e-d15f-59feb6a55a99-4c93fc2f" class="noticetitle">
              <a href="https://www.undesigning.co.kr/notice/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&amp;bmode=view&amp;idx=17791824&amp;t=board" class="link-6"><strong>2024년 설 연휴 일정 안내</strong></a>
            </div>
            <div id="w-node-_1635c5d5-522c-3e8e-d15f-59feb6a55a9b-4c93fc2f" class="noticecreate">2024-01-10</div>
            <div id="w-node-_1635c5d5-522c-3e8e-d15f-59feb6a55a9d-4c93fc2f" class="div-block-22"></div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="notice-nav w-nav">
    <div class="container-4 w-container">
      <nav role="navigation" class="nav-menu w-nav-menu">
        <ul role="list" class="navpagination w-list-unstyled">
          <li class="list-item-5">
            <a href="#" class="leftbtn w-inline-block">
              <div class="text-block-14">&lt;</div>
            </a>
          </li>
          <li>
            <a href="#" class="link-block-12 w-inline-block">
              <div class="text-block-14">1</div>
            </a>
          </li>
          <li>
            <a href="#" class="link-block-12 w-inline-block">
              <div class="text-block-14">2</div>
            </a>
          </li>
          <li>
            <a href="#" class="link-block-13 w-inline-block">
              <div class="text-block-14">3</div>
            </a>
          </li>
          <li>
            <a href="#" class="link-block-14 w-inline-block">
              <div class="text-block-14">&gt;</div>
            </a>
          </li>
        </ul>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
{% endblock %}
