{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Post</title>
</head>
<body>
    <div id="navbar">
        <span>포트폴리오</span>
    </div>
    <h1>Post-List</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <ul>
                    {% for comment in post.comment_set.all %}
                        <li>{{ comment.content }}</li>
                    {% empty %}
                        <li>아직 댓글이 없습니다</li>
                    {% endfor %}
                </ul>
                {% if post.thumbnail %}
                    <img
                        src="{{ post.thumbnail.url }}"
                        alt="None"
                        style="
                            width: 300px; /* 원하는 너비로 설정 */
                            height: 300px; /* 원하는 높이로 설정 */
                            object-fit: cover; /* 이미지를 비율에 맞게 잘라서 채우기 */
                            border-radius: 8px; /* 모서리 둥글게 하기 */
                            display: block;
                            margin: 0 auto; /* 가운데 정렬 */
                        ">
                {% else %}
                    <img src="" alt="">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>